@font-face {
  font-family: 'Roboto';
  src: url('http://library.fxplus.ac.uk/sites/all/themes/custom/fx_themes/plus/fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'stag-medium';
  src: url('http://fxplus.org/temp/fonts/stag/Stag-Medium.otf');
}
@font-face {
  font-family: 'stag-book';
  src: url('http://fxplus.org/temp/fonts/stag/Stag-Book.otf');
}
@font-face {
  font-family: 'stag-light';
  src: url('http://fxplus.org/temp/fonts/stag/Stag-Light.otf');
}
@font-face {
  font-family: 'stag-thin';
  src: url('http://fxplus.org/temp/fonts/stag/Stag-Thin.otf');
}
@font-face {
  font-family: 'stag-semibold';
  src: url('http://fxplus.org/temp/fonts/stag/Stag-Semibold.otf');
}

h1,h2,h3,h4,h5 {
    font-family: "stag-medium";
    font-weight: normal;
    letter-spacing: 1px;
}
h1 {
    color: #3399ce;
    color: #555;
    margin-bottom: 20px;
    font-size: 2.2em;
    line-height: 1.5em;
}

html {
    background-color: #FFFFFF;
    background: none;
}

body {
    background-color: #fefefe;
    color: #333333;
    margin-left: 0;
    margin-right: 0;
}

.panelContainer {
    margin-top: 50px;
}

#content {
    background-color: #FFFFFF;
}

#navbar {
    background-image: none;
    background-color: #2F393F;
    border-top: solid 1px #505050;
    border-bottom: solid 1px #505050;
}

#jsddm li a,#jsddm li a:hover {
    color: #505050;
}

#jsddm li ul li a,#jsddm li ul li a:hover {
    background: #F0F0F0;
}

a {
    color: #3399CE;
}

#content {
    background-color: #FFFFFF;
}

#jsddm li a,#jsddm li a:hover {
    color: #505050;
}

#jsddm li ul li a,#jsddm li ul li a:hover {
    background: #F0F0F0;
}

.fixedWidthContent {
    background: white;
    margin-top: 0;
}

#home #content {
    background: none;
}

#bookmarklet-resource-iframe {
    margin: 0px !important;
}

#header {
    background: none;
    background-color:#004855;
    height: 105px;
    position: relative;
}

#logo {
    position: relative;
    top: 30px;
    left: 10px;
    display: none;
}
div#branding {
    width: 313px;
    height: 72px;
    /* hack */ background: url(http://fxplus.org/temp/images/talis/reading_lists_title_stagwhite.png) no-repeat 20px 30px;
}

#top_menu {
    position: absolute;
    right: 28px;
    top: 20px;
    z-index: 99;
}

#top_menu a {
    /*color: #a0a0a0;*/
    color: #f0f0f0;
    font-size: 13px;
    margin-right: 10px;
    font-weight: normal;
}

#top_menu a:hover {
    color: white;
    text-decoration: none;
}

#top_menu_background {
    background: none;
    height: 41px;
    width: 339px;
    display: block;
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 10;
}

#navbar {
    background-image: none;
    /*background: url(http://cust-assets.talisaspire.com/falmouth/live/contrib/menu.png) top left repeat-x;*/
    background-color: #008da8;
    border: none;
    height: 40px;
}

#jsddm {
    margin-left: 10px;
    padding-top: 0px;
}

#jsddm li a {
    /*color: #ffffff;*/
    color: #eee;
    text-shadow: 0px 1px 0px #000000;
    font-size: 15px;
    font-weight: normal;
    font-family: helvetica neue, arial, sans serif;
    padding: 10px 11px;
    height: 23px;
    text-decoration: none !important;
    border: none !important;
}

#jsddm li a:hover {
    color: white;
    text-shadow: 0px 0px 6px #3399ce;
    background-image: none;
    background-color: #004855;
}

#jsddm li ul {
    border-top: none;
}

#jsddm li ul li a {
    height: auto;
    padding: 7px 16px;
    background: #3c3c3c;
    color: #ffffff;
    text-shadow: 0px 1px 0px #000000;
}

#jsddm li ul li a:hover {
    color: black;
    text-shadow: none;
    color: white;
    text-shadow: 0px 0px 6px #3399ce;
    background: black;
}

#home #jsddm li #lnkHome {
    color: white;
    text-shadow: 0px 0px 6px #3399ce;
    background-image: none;
}

#tenantSearchTitle {
    color: #3399ce;
    font-size: 25px;
    margin-bottom: 9px !important;
    margin-top: 2%;
}

#frmHomeSearch {
    background: none;
    /* background-color: #008da8; */
    border-radius: 8px;
    margin: 0 auto;
    width: 600px;
    max-width: 95%;
    height: 80px;
    padding-top: 26px;
    font-family: helvetica neue, arial, sans serif;
}

#btnSearch {
    height: 43px;
    width: 106px;
    background: url("http://cust-assets.talisaspire.com/falmouth/live/contrib/search.png") no-repeat scroll left top transparent !important;
    text-indent: -9999px;
    font-size: 0.001em;
    border: none !important;
    position: relative;
    cursor: pointer;
    position: relative;
    top: -3px;
}

#btnSearch:hover {
    background-image: none  !important;
}

#btnSearch:active {
    background: url("http://cust-assets.talisaspire.com/falmouth/live/contrib/search-active.png") no-repeat scroll left top transparent !important;
}

#q {
    width: 386px;
    height: 39px;
    border-radius: 6px;
    border: 1px solid #444;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    position: relative;
    left: -5px;
    padding-left: 41px;
    padding-right: 20px;
    background: url(http://cust-assets.talisaspire.com/falmouth/live/contrib/search_icon.png) top left no-repeat #ffffff;
}

#tenantHomeLinks {
    margin-bottom: 5%;
    color: #eeeeee;
}

#lnkHierarchyView,#lnkRecentChanges {
    color: #3399ce;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 2px;
}

button,.editItemButton,.removeItemButton,.editSectionButton,#formButtons input,#btnOK,.removeSectionButton,.bookmarkletHelpLink,#discardButton,#lnkCreateList,#lnkAddBookmark,#bttnCancel,#lnkDeleteBookmarks,#lnkAddPage,#btnCreate,#btnCreateandAdd,#btnSave,#btnCancel,input[type="submit"] {
    border: 1px solid #111111 !important;
    color: #ffffff !important;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #383838 !important;
}

button:hover,.editItemButton:hover,#formButtons input:hover,#btnOK:hover,.removeItemButton:hover,.editSectionButton:hover,.removeSectionButton:hover,.bookmarkletHelpLink:hover,#discardButton:hover,#lnkCreateList:hover,#lnkAddBookmark:hover,#lnkDeleteBookmarks:hover,#lnkAddPage:hover,#btnSave:hover,#bttnCancel:hover,#btnCreate:hover,#btnCreateandAdd:hover,#btnCancel:hover,input[type="submit"]:hover {
    background: #111111;
}

#tableOfContents,.section,.panelHeading,#myBookmarks,#tblBookmarks {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#pageActionsList {
    margin-bottom: 16px;
}

.section {
    background: #ebebeb;
    border: 2px solid #cccccd;
}

#pageActionsList {
    font-size: 14px;
}

#mainResourceHeader,.floatLeft {
    color: #0B486B;
}

.panelHeading {
    background: #368687;
    border: none;
    padding: 6px 7px;
}

.panelHeading h2 {
    color: #ffffff !important;
}

body #bookmarkletIframeWidth #bookmarklet-resource-iframe {
    width: 43% !important;
}

#sidebar {
    border-left: 1px solid white;
    background-image: none;
    background-color: #ebebeb;
    position: relative;
    top: 0;
    border-left: 1px solid #ddd;
}
#sidebar, #sidebar th, #sidebar span.fieldlabel, #sidebar h5 {
    color: #666;
    font-weight: normal;
}
#availabilityDetails th {

}

#footer {
    color: white;
    position: relative;
    height: 100px;
    /* hack */ background: url(http://fxplus.org/temp/images/talis/fulogo.png) no-repeat top right;
    background-position: right 30px top 20px;
    background-color: #ddd;
    border-top: 4px solid #c2c2c2;
}

#footer .contact {
    position: relative;
    top: 25px;
    left: 25px;
    width: 300px;
}

#footer a {
    color: #3399ce;
    font-size: 13px;
    margin-right: 10px;
    font-weight: bold;
}

#footer a:hover {
    color: #227dad;
    text-decoration: underline;
}

#footer .links {
    position: absolute;
    top: 24px;
    left: 20px;
}

#footer .powered {
    color: #777777;
    width: 100%;
    text-align: center;
}

#footer .powered p {
    display: inline;
    position: relative;
}

#footer p {
    color: #777777;
    width: 100%;
    text-align: center;
}

#saveButton,#btnOK,#btnAdd,#btnSave,.actionButton {
    background: none repeat scroll 0 0 #383838 !important;
    border: 1px solid #111111;
    color: #ffffff !important;
    padding: 1px;
}

.panelHeading a {
    color: white;
    text-decoration: underline;
}

#bookmarkNote {
    width: 87% !important;
}

.ie6 {
    margin: none;
}

.ie6 #q {
    padding-top: 12px;
    height: 27px;
}
}

.ie6 #jsddm li a {
    display: inline;
}

.ie7 #q {
    padding-top: 12px;
    height: 27px;
}

/* Cosmetic */

#pageDescription blockquote { margin-top: 20px; }
div.listOwner { display:none; }
#itemDetailsProperties {
    margin-top: 20px;
}
#resourceDetails { margin-top: 20px; }
#resourceDetails dt { line-height: 1.8; }
/*#resourceProperties dl { margin-left: 20px; }*/
#itemFullTextPreviewPanel {
    background-color: #ebebeb;
    border: 1px solid #ddd;
    border-top-color: #ccc;
    border-left-color: #ccc;
    padding: 10px;
}
#itemFullTextPreviewPanel h3 {
    background-color: #eee;
    color: #666;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}